body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #040404;
    text-align: center;
    margin-top: 100px;
}
h1 {
    color: #fcfcfc;
}
p {
    color: #767474;
    font-size: 18px;

 }